/* Gallery.css */

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

.row {
  margin: 10px -8px;
  text-align: center; /* Center the entire row */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: none; /* Change float to none */
  width: 100%; /* Full width for each column */
  display: none;
}

.column {
  width: 50%; /* Show one car per row */
}

/* Media query for screens with a maximum width of 750 pixels */
@media (max-width: 750px) {
  .column {
    width: 100%; /* Show one car per row */
  }
}

.content {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.show {
  display: inline-block; /* Display columns inline */
}

#myBtnContainer {
  text-align: center; /* Center the buttons horizontally */
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin: 0 4px; /* Add margin between buttons */
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
